body {
	width: 100%;
	height: 100%;
 }

.wrapper_table {
	max-width: 794px;
	max-height: 670px;
	margin: 30px 40px 70px;
	display: flex;
	flex-direction: column;
	border: 1px solid #000000;
	font-family: Montserrat;
  	text-align: center;
  	font-size: 14px;
	box-sizing: border-box;
	overflow: auto;
}
.header {
	display: flex;
	padding: 13px 0;
	margin-bottom: 10px;
	background: #4B5BE8;
}
.header_name_group_date {
display: flex;
justify-content: space-between;
flex-grow: 1;
}
.header_group_date {
display: flex;
justify-content: space-between;
}
.header_number {
	padding: 0 103px 0 20px;
}
.header_name {
	padding: 0 136px 0 0;
}
.header_group {
	padding: 0 90px 0 0;
}
.header_date {
	padding: 0 40px 0 0;
}
.header_privilege {
	padding: 0 30px 0 0;
}
.header_submit {
	padding: 0 20px 0 0;
}
.personal_block {
	display: flex;
	padding-bottom: 10px;
}
.name_group_date {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}
.group_date {
	display: flex;
	justify-content: space-between;
}
.number {
	padding: 0 13px 0 20px ;
}
.name {
	padding-right: 38px;
}
.group {
	padding-right: 38px;
}
.date {
	padding-right: 20px;
}
.privilege {
	padding-right: 78px;
}
.submit {
	padding-right: 52px;
}