body {
  width: 100vw;
  height: 100vh;
}
.wrapper_main {
  display: grid;
  max-width: 794px;
  max-height: 670px;
  margin: 30px 40px 70px;
  box-sizing: border-box;
  border: 1px solid #000000;
}
.wrapper_table {
  display: grid;
  grid-template-columns:
    minmax(20px, 4%) minmax(230px, 40%) minmax(110px, 16%) minmax(110px, 16%)
    minmax(45px, 9%) minmax(115px, 15%);
}
.table_item_header,
.table_item_name,
.table_item_group,
.table_item_date,
.table_item {
  padding: 13px 0;
  font-size: 14px;
  font-family: Montserrat;
  text-align: center;
}
.table_item_header {
  background: #4b5be8;
}
.table_item_name {
  text-align: left;
}
.table_item_group {
  font-size: 12px;
}
.table_item_date {
  font-size: 10px;
}
